#subscribeDiv {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -20px;
  top: 20px;
  padding: 80px 40px;
  width: 1440px;
  box-sizing: border-box;
}

#subscribeDiv div {
  background-color: #0052fe;
  padding: 30px 60px;
  border-radius: 16px;
  display: flex;
  width: 850px;
  color: #ffffff;
}
#subscribeTextDiv {
  display: flex;
  flex-direction: column;
}
#subscribeTextDiv input {
  width: 160px;
  padding: 15px 0px 15px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
}
#subscribeBtn {
  background-color: #ffb800;
  padding: 14px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid white;
}

@media (max-width: 1400px) {
  #subscribeDiv {
    width: 1400px;
  }
}
